body
{
  margin: 0px;
  /*background: #F5F5F5;*/
  text-align: center;
  font-family: 'Merriweather', serif;
  background-color: #e9ecef;
}

p
{
    color: #495057;
}

.parrafo
{
    line-height: 2;
    width: 30%;
    margin: auto;
    margin-bottom: 3%;
}

h1
{
    color: #343a40;
    margin-top: 80px;
    font-family: 'montserrat', cursive;
    font-size: 500%;
}

h2
{
    color: #343a40;
    font-family: 'montserrat', cursive;
    font-size: 187.5%;
    padding-bottom: 10px;
}

h3
{
    color: #343a40;
    font-family: 'montserrat', cursive;
    font-size: 125%;
}

hr
{
  border-style: dotted none none;
  height: 0px;
  border-color: gray;
  border-width: 5px;
  width: 10%;
  margin: 7% auto 7%;
}

a
{
    font-family: 'Montserrat', sans-serif;
    margin: 10px 20px;
    text-decoration: none;
    color: #343a40;
}

.Top-container
{
    background: #F5F5F5;
    padding-top: 200px;
    background-image: url(https://media.giphy.com/media/QTmfvHGklosY1ha87W/giphy.gif); /*cohete*/   
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: 2% 19%; 
    background-size: 70px;
}

.middle-container
{
    background: #e9ecef;
    padding: 50px 0;
}

.bottom-container
{
    background: #dee2e6;
    padding: 1% 0;
    margin-bottom: -10%;
}

#flechas
{
    position:absolute;
    left: 36%;
    top: 395px;
}

#nube
{
    position:absolute;
    left: 20px;
    top: 60px;
}

.Titulo
{
  margin-bottom: 0%;
  font-family: 'sacramento', cursive;
}

.SubTitulo
{
  margin-top: 0%;    
}

.loyola
{
  display: inline-block;
  width: 30%;    
}

.PUCMM
{
  display: inline-block;
  width: 30%;
}

#nicolas
{
  filter: drop-shadow(-40px 0px 30px rgba(0,0,0,0.5));
}

#lineas-studies
{
    position: absolute;
    margin-left: -250px;

}

.copyright
{
  margin-top: 80px;
  margin-bottom: 0%;
  font-size: 0.75rem;
}

.Contact
{
  position: relative;
  transform: translate(-50%,-50%); 
}

.Work{
  position: relative;
  transform: translate(-50%,-50%);
  width: 60%;
  margin-left: 20%;
}

.btn-work{
  position: relative;
  display:block;
  color: black;
  font-size: 14px;
  font-family: "montserrat";
  text-decoration: none;
  margin: 3% 25%;
  border: 2px solid #343a40;
  padding: 14px 100px;
  text-transform: uppercase;
  overflow: hidden;
  transition: 1s all ease; 
}

.btn-work1{
  position: relative;
  display:block;
  color: black;
  font-size: 14px;
  font-family: "montserrat";
  text-decoration: none;
  /* margin: 3% 40%; */
  border: 2px solid #343a40;
  padding: 14px 1px;
  text-transform: uppercase;
  overflow: hidden;
  transition: 1s all ease; 
}
.btn-work1::before{
  background: rgb(170,214,218);
  background: linear-gradient(75deg, rgba(170,214,218,1) 0%, rgba(135,232,232,1) 36%, rgba(148,157,157,1) 100%);
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: -1;
  transition: all 0.6s ease;
}

.btn-work::before{
  background: rgb(170,214,218);
  background: linear-gradient(75deg, rgba(170,214,218,1) 0%, rgba(135,232,232,1) 36%, rgba(148,157,157,1) 100%);
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: -1;
  transition: all 0.6s ease;
}

.Looker1::before{
  width: 0%;
  height: 100%;
}

.Looker1:hover::before{
  width: 100%;
}

.btn2::before{
  width: 100%;
  height: 0%;
}

.btn2:hover::before{
  height: 100%;
}

.btn3::before{
  width: 100%;
  height: 0%;
  transform: translate(-50%,-50%) rotate(45deg);
}
.btn3:hover::before{
  height: 380%;
}

.btn4::before{
  width: 100%;
  height: 0%;
  transform: translate(-50%,-50%) rotate(-45deg);
}
.btn4:hover::before{
  height: 380%;
}

/* contact */
.Contact
{
  padding: 2%;
  position: relative;
  width: 96%;
}
.contact-titulo
{
  font-family: "montserrat";
  font-size: 50px;
  margin-top: 0;
}
.img-download
{
  width: 100px;
  margin-top: 45px;
  filter: drop-shadow(-40px 0px 30px rgba(0,0,0,0.4));
}
.contact-left
{
  width: 30%;
  height: 200px;
  position: absolute;
  margin-left: 13%;
}
.contact-right
{
  width: 50%;
  margin-left: 45%;
}
.cv
{
  position: relative;
  margin-right: 30%;
  margin-left: 30%;
}

form input, form textarea
{
  width: 75%;
  border: 0;
  outline: 0;
  padding: 15px;
  margin: 15px 0;
  background-color: #1a1c25;
  color: white;
  font-size: 18px;
  border-radius: 6px;
}

.img-bottom
{
  margin-top: 3%;
}
/* contact */

/* Boton de enviar */
.button {
  width: 200px;
  height: 60px;
  background: dodgerblue;
  border-radius: 6px;
  transition: all .3s cubic-bezier(0.67, 0.17, 0.40, 0.83);
  margin: 0% 0% 0% 11%;
}

.button svg {
  transform: rotate(180deg);
  transition: all .5s;
  padding-bottom: 30%;
  width: 40px;
  height: 20px;
}

.button__circle {
  width: 60px;
  height: 60px;
  background: mediumseagreen;
  border-radius: 50%;
  transform: rotate(-180deg);
}

.button:hover {
  cursor: pointer;
}

.tick {
  color: white;
  font-size: 2em;
  transition: all .9s;
  padding-top: 6%;
}
/* Boton de enviar */

/* NavBar */
.Barra
{
  text-align: center;
  padding-left: 35%;
  background: rgb(255,255,255);
  background: linear-gradient(75deg, rgba(255,255,255,0.1) 0%, rgba(255,255,255,0.1) 36%, rgba(255,255,255,0.1) 100%);
  position: fixed;
  width: 100%;
  margin-top: -211px;
  z-index: 999;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: rgb(255,255,255);
  background: linear-gradient(75deg, rgba(255,255,255,0.1) 0%, rgba(255,255,255,0.1) 36%, rgba(255,255,255,0.1) 100%);
}

li {
  float: left;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  color: #0aa7b3;
}

li a.active {
  color: black;
}
/* NavBar */