body
{
    margin: 0 50%;
    text-align: center;
    overflow-x: hidden;
}
.container-fluid
{
    position: relative;
    height: 90vh;
    background-image: url(../images/wallhaven-7318pv.png);
    background-position-y: center;
    background-position-x: center;
    background-size:130rem;
}

.contenedor
{
    font-family: 'Montserrat';
    position: absolute;
    background-color: #fff;
    border-radius: 30px;
    margin: 0 auto;
    height: 90px;
    width: 600px;
    text-align: center;
    filter: drop-shadow(-40px 0px 30px rgba(0,0,0,0.3));
    left: 0;
    right: 0;
    top: 85vh;
}

.contenedor h1
{
    padding-top: 20px;
    color: #07599c;
}

/* .paginas-contenedor
{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: flex-start;
    gap: 1em;
    padding: 9% 0;
}

.pagina
{
    width: 25vw;
    height: 40vh;
    background-color: #1aa7e9;
    text-align: center;
    justify-content: center;
} */

.paginas-contenedor
{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    padding: 9% 1%;
}

.pagina
{
    display: grid;
    height: 40vh;
    background-color: #1aa7e9;
    color: #fff;
    place-content: center;
    border-radius: 10px;
    transition: .3s;
} 
.pagina:hover
{
    transform: translateY(-10px);
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 0%, rgba(28,175,241,1) 100%);
    color: #07599c;
}

.pagina a
{
    font-size: 150%;
    text-align: center;
    color: #fff;
    transition: .3s;
}

.pagina:hover a
{
    color: #07599c;
}

.atras a
{
    position: absolute;
    top: 3%;
    font-size: 30px;
    left: 2%;
    transition: .3s;
    color: #fff;
}
.atras:hover a
{
    font-size: 40px;
}
